<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRestaurantService" />
                <binding name="BasicHttpBinding_IMenuService" />
                <binding name="BasicHttpBinding_IItemService" />
                <binding name="BasicHttpBinding_IPriceService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RestaurantService/RestaurantService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestaurantService"
                contract="RestaurantService.IRestaurantService" name="BasicHttpBinding_IRestaurantService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RestaurantService/MenuService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMenuService"
                contract="MenuService.IMenuService" name="BasicHttpBinding_IMenuService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RestaurantService/ItemService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IItemService"
                contract="ItemService.IItemService" name="BasicHttpBinding_IItemService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RestaurantService/PriceService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPriceService"
                contract="PriceService.IPriceService" name="BasicHttpBinding_IPriceService" />
        </client>
    </system.serviceModel>
</configuration>