<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IRestaurantService">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ICustomerService">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IItemService">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IMenuService">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IPriceService">
                    <security mode="Message">
                        <transport clientCredentialType="Windows" />
                        <message clientCredentialType="Windows" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RestaurantService/RestaurantService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IRestaurantService"
                contract="RestaurantService.IRestaurantService" name="WSHttpBinding_IRestaurantService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RestaurantService/CustomerService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
                contract="CustomerService.ICustomerService" name="WSHttpBinding_ICustomerService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RestaurantService/ItemService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IItemService"
                contract="ItemService.IItemService" name="WSHttpBinding_IItemService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RestaurantService/MenuService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMenuService"
                contract="MenuService.IMenuService" name="WSHttpBinding_IMenuService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/RestaurantService/PriceService/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IPriceService"
                contract="PriceService.IPriceService" name="WSHttpBinding_IPriceService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>