@{
    ViewBag.Title = "OrderConfirmation";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/custom.css">
</head>
<body>
    <h2>OrderConfirmation</h2>
</body>

