* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    vertical-align: middle;
    text-decoration: none;
}

body {
    padding-top: 80px;
}

.navbar-brand {
    float: left;
    height: 40px;
    width: auto;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    padding-top: 0.5%;
}

.navbar-inverse {
    padding-top: 1%;
    background-color: mediumaquamarine;
    border-color: mediumaquamarine;
    overflow: hidden;
}

.nav navbar-nav ul li {
    font-weight: 200;
    font-size: 16px;
    transition: 0.4s ease;
}

.navbar-inverse .navbar-nav > li > a {
    color: azure;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #b8fce3;
    transition: 0.4s ease;
}

.navbar-inverse .navbar-nav > li > a:active {
    color: #b8fce3;
}

.landing {
    background-image: url('../source/lefteris-kallergis-581884-unsplash-min.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    border-style:none;
    padding-top: 22%;
    padding-bottom: 22%;
    overflow: hidden;
}

.landing-h1 {
    text-align: center;
}
.marine-h1 {
    color:mediumaquamarine;
    font-weight:300;
}

h1 {
    color: azure;
    font-weight: 200;
    text-align: center;
}

h2 {
    font-weight: 400;
    color: mediumaquamarine;
    text-align: center;
}

h3 {
    font-weight: 400;
    color: mediumaquamarine;
    text-align: center;
}

h4 {
    font-weight: 400;
    color: mediumaquamarine;
    text-align: center;
}

th {
    font-weight:500;
}

select option:hover {
    background-color: red;
    box-shadow: rgba(102, 205, 170, 0.90) 10px 10px inset;
}

col-md-4 {
    align-content:center;
}

.center-with-padding {
    padding-top: 0.1%;
    padding-left: 9%;
    padding-right: 10%;
}


input {
    max-width: 100%;
    position: relative;
    line-height: 30.5px;
    box-sizing:padding-box;
}

.btn-color-style {
    background-color: transparent;
    border-width: 3px;
    border-color: mediumaquamarine;
    color: mediumaquamarine;
    width: 100%;
    font-weight: 300;
    text-align: center;
    
}

.btn-default:hover {
    color: mediumaquamarine;
    background-color:azure;
    transition: 0.4s ease;
    border-color: #b8fce3;
}

.form-control:active {
    box-shadow: none;
}

.padding-left-2 {
    padding-left: 2%;
}

.padding-left-5 {
    padding-left: 5%;
}

.padding-right-2 {
    padding-right: 2%;
}

.padding-right-5 {
    padding-right: 5%;
}

.padding-horizontal{
    padding-top:2%;
    padding-bottom: 3%;
}

.float-left {
    float:left;
}

.float-right {
    float:right;
}

label {
    color: mediumaquamarine;
    font-weight:300;
}

.jumbotron h1 {
    color: mediumaquamarine;
}

footer {
    text-align: center;
    margin: 0 auto;
}

.container-custom {
    padding-left: 10%;
    padding-right: 10%;
    margin-right: auto;
    margin-left: auto;
}

#categoryId :hover {
    background-color:aquamarine;
}

#categoryId {
    float: left;
    overflow: auto;
    width: auto;
}

#zipcode {
    width: 60% !important;
}

.form-control {
    border: 1px solid #868686;
}

.form-control:active {
    box-shadow: #99f2d4 10px 10px inset;
}

.form-control:focus {
    border-color: #9ee0c4;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(128, 225, 192, 0.89);
}
a {
    text-decoration: none;
    color: mediumaquamarine
}

a:hover {
    color:#95e2c8;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}
