@model int
@{
    ViewBag.Title = "Checkout Complete";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/custom.css">
</head>
<body>
    <div class="container body-content">
        <h1 class="marine-h1">Checkout Complete</h1>
        <p>Thanks for your order! Your order number is: @Model</p>
        <p>
            How about shopping for some more stuff with our service
            @Html.ActionLink("here", "Index", "Home")
        </p>
    </div>
</body>

