@model UserWebClient.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/custom.css">
</head>

<body>
    <div class="landing">
            <h1 class="landing-h1">SEARCH YOUR AREA FOR RESTAURANTS</h1>
            <div class="col-md-4"></div>
            <div class="col-md-4">
                 @using (Html.BeginForm())
                 {
                  @Html.AntiForgeryToken()
                     <div class="form-group">
                         <div class="input-group float-right center-with-padding">
                             @Html.TextBoxFor(model => model.Zipcode,new { value = "", placeholder = "Search by Zipcode", @class = "form-control" } )
                             <span class="input-group-btn">
                                 <button class="btn btn-default" value="Filter" type="submit">
                                     <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                 </button>
                             </span>
                         </div>
                     </div>
                 }
            </div>
    </div>
    <div class="container body-content">
        <p class="float-left padding-horizontal">
            @if (Session["roleId"] != null)
            {
                if ((int)Session["roleId"] == 0)
                {
                    @Html.ActionLink("Register a restaurant", "Create", "Restaurant", null, new { @class = "btn btn-default btn-color-style" });
                }
            }
        </p>
    </div>
</body>
<footer>

</footer>