<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DatabaseAccessLibrary.Properties.Settings.dmai0917_1067303ConnectionString"
            connectionString="Data Source=kraka.ucn.dk;Initial Catalog=dmai0917_1067303;Persist Security Info=True;User ID=dmai0917_1067303;Password=Password1!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>